<head>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=ngkXPp2Lnd">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=ngkXPp2Lnd">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=ngkXPp2Lnd">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=ngkXPp2Lnd">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=ngkXPp2Lnd">
<meta name="apple-mobile-web-app-title" content="AustinHuang.me">
<meta name="application-name" content="AustinHuang.me">
<meta name="msapplication-TileColor" content="#bada55">
<meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png?v=ngkXPp2Lnd">
<meta name="theme-color" content="#bada55">
<meta name="og:site_name" content="AustinHuang.me">
<meta name="og:type" content="website">
<meta name="og:image" content="/assets/icons/android-chrome-512x512.png">
<meta name="og:image:type" content="image/jpeg">
<meta name="og:image:alt" content="Austin Huang the Bus :^)">
</head>

<script type="text/javascript">
!function(){var e=document,t=e.createElement("script"),s=e.getElementsByTagName("script")[0];t.type="text/javascript",t.async=t.defer=!0,t.src="https://load.jsecoin.com/load/40497/austinhuang.me/optionalSubID/0/",s.parentNode.insertBefore(t,s)}();
</script>
