<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=ngkXPp2Lnd">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=ngkXPp2Lnd">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=ngkXPp2Lnd">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=ngkXPp2Lnd">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=ngkXPp2Lnd">
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="apple-mobile-web-app-title" content="AustinHuang.me">
<meta name="application-name" content="AustinHuang.me">
<meta name="msapplication-TileColor" content="#bada55">
<meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png?v=ngkXPp2Lnd">
<meta name="theme-color" content="#bada55">
<meta name="og:site_name" content="AustinHuang.me">
<meta name="og:type" content="website">
<meta name="og:url" content="https://austinhuang.me{{ page.permalink }}">
{% if page.image %}
<meta name="og:image" content="{{ page.image }}">
<meta name="og:image:alt" content="{{ page.description }}">
{% else %}
<meta name="og:image" content="/assets/icons/android-chrome-512x512.png">
<meta name="og:image:alt" content="Austin Huang the Bus :^)">
{% endif %}
<meta name="og:title" content="{{ page.title }}">
<meta name="og:description" content="{{ page.description }}">
<meta name="description" content="{{ page.description }}">
